<?xml version="1.0"?>
<launch>
  <arg name="sample_duration"        default="0.050"/>
  <arg name="debug"                  default="false" />
  <arg name="use_robot_name"         default="mikata_arm"/>

  <rosparam command="load" file="$(find open_manipulator_moveit)/config/open_manipulator_controllers.yaml"/>
  
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find open_manipulator_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <!-- <remap from="/joint_states" to="/mikata_arm/joint_states" />
  </node> -->

  <!-- Run the main MoveIt executable -->
  <include file="$(find open_manipulator_moveit)/launch/move_group.launch" >
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="false"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="sample_duration" value="$(arg sample_duration)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find open_manipulator_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
