<?xml version="1.0"?>
<launch>
  <arg name="use_robot_name"         default="mikata_arm"/>

  <arg name="dynamixel_usb_port"     default="/dev/ttyUSB0"/>
  <arg name="dynamixel_baud_rate"    default="1000000"/>

  <arg name="control_period"         default="0.010"/>

  <arg name="use_platform"           default="true"/>
  <arg name="use_gazebo"             default="false"/>
  <arg name="use_moveit"             default="false"/>

  <arg name="planning_group_name"    default="arm"/>
  <arg name="moveit_sample_duration" default="0.050"/>

  <group if="$(arg use_gazebo)">
    <include file="$(find open_manipulator_gazebo)/launch/open_manipulator_gazebo.launch">
      <!-- <arg name="use_robot_name" value="$(arg use_robot_name)"/> -->
      <arg name="paused" value="false"/>
    </include>
  </group>

  <group if="$(arg use_moveit)">
    <include file="$(find open_manipulator_controller)/launch/open_manipulator_moveit.launch">
      <arg name="sample_duration" value="$(arg moveit_sample_duration)"/>
    </include>
  </group>

  <!-- <group if="$(arg use_moveit)" ns="$(arg use_robot_name)"> -->
  <!--   <include file="$(find open_manipulator_controller)/launch/open_manipulator_moveit.launch"> -->
  <!--     <arg name="sample_duration" value="$(arg moveit_sample_duration)"/> -->
  <!--   </include> -->
  <!-- </group> -->

  <node name="$(arg use_robot_name)" pkg="open_manipulator_controller" type="open_manipulator_controller" output="screen" args="$(arg dynamixel_usb_port) $(arg dynamixel_baud_rate)">
      <param name="using_platform"       value="$(eval use_platform and not use_gazebo)"/>
      <param name="planning_group_name"  value="$(arg planning_group_name)"/>
      <param name="control_period"       value="$(arg control_period)"/>

      <remap from="/mikata_arm/joint1_position/command" to="/joint1_position/command" />
      <remap from="/mikata_arm/joint2_position/command" to="/joint2_position/command" />
      <remap from="/mikata_arm/joint3_position/command" to="/joint3_position/command" />
      <remap from="/mikata_arm/joint4_position/command" to="/joint4_position/command" />
      <remap from="/mikata_arm/joint5_position/command" to="/joint5_position/command" />
      <remap from="/mikata_arm/joint6_position/command" to="/joint6_position/command" />

      <remap from="/mikata_arm/gripper_position/command" to="/gripper_position/command" />
      <remap from="/mikata_arm/gripper/kinematics_pose" to="/gripper/kinematics_pose" />
      <remap from="/mikata_arm/option" to="/option" />
      <remap from="/mikata_arm/states" to="/states" />
      <remap from="/mikata_arm/arm_controller/follow_joint_trajectory/cancel" to="/arm_controller/follow_joint_trajectory/cancel" />
      <remap from="/mikata_arm/arm_controller/follow_joint_trajectory/feedback" to="/arm_controller/follow_joint_trajectory/feedback" />
      <remap from="/mikata_arm/arm_controller/follow_joint_trajectory/goal" to="/arm_controller/follow_joint_trajectory/goal" />
      <remap from="/mikata_arm/arm_controller/follow_joint_trajectory/result" to="/arm_controller/follow_joint_trajectory/result" />
      <remap from="/mikata_arm/arm_controller/follow_joint_trajectory/status" to="/arm_controller/follow_joint_trajectory/status" />

  </node>

</launch>
