<?xml version="1.0"?>
<launch>
  <arg name="use_robot_name"         default="mikata_arm"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!-- <rosparam file="$(find open_manipulator_gazebo)/config/open_manipulator_controller.yaml" command="load"
            ns="$(arg use_robot_name)"/> -->
  <rosparam file="$(find open_manipulator_gazebo)/config/open_manipulator_controller.yaml" command="load" />

  <!-- load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="$(arg use_robot_name)" args="joint_state_controller
                                               joint1_position
                                               joint2_position
                                               joint3_position
                                               joint4_position
                                               joint5_position
                                               joint6_position
                                               gripper_position
                                               gripper_sub_position"/> -->
 <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  
                                         args="joint_state_controller
                                               joint1_position
                                               joint2_position
                                               joint3_position
                                               joint4_position
                                               joint5_position
                                               joint6_position
                                               gripper_position
                                               gripper_sub_position"/>
  
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <remap from="/joint_states" to="/mikata_arm/joint_states" />
  </node> -->


  <!-- Run gripper sub position publisher -->
  <!-- <node name="gripper_sub_publisher" pkg="open_manipulator_gazebo" type="gripper_sub_publisher" output="screen" ns="$(arg use_robot_name)"/> -->
    <node name="gripper_sub_publisher" pkg="open_manipulator_gazebo" type="gripper_sub_publisher" output="screen" />

</launch>
